language: php
php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - hhvm

before_script:
  - wget http://getcomposer.org/composer.phar
  - php composer.phar install --dev

script:
  - ./vendor/bin/phpunit ./tests/
#  - ./vendor/bin/phpcs -n --standard=PSR2 ./SEOstats/ ./tests/

notifications:
  email: false

matrix:
  fast_finish: true
  allow_failures:
    - php: 5.6
    - php: hhvm
